#topNav {
    position: relative;
    background: #000;
    border-bottom: 1px solid #ededee;
    color: #999;
}

#topNavWrap {
    position: relative;
    zoom: 1;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    width: 1090px;
}

#topNavLeft, #topNavLeft2 {
    float: left;
}

#topNavLeft span{
    /* line-height: 30px; */
    font-size: 12px;
}

#topNavLeft .login {
    margin-left: 16px;
}

#topNav a {
    color: #999;
    font-size: 12px;
}

#topNavLeft .sep {
    padding: 0 10px;
}

#topNav .sep {
    color: #ccc;
    visibility: hidden;
}

#topNavLeft2 {
    padding-left: 30px;
    float: left;
}

#topNavLeft2 .app, .service .mcDropMenu a {
    position: relative;
    zoom: 1;
}

#topNav .app .m-notice {
    position: absolute;
    left: -30px;
    top: 35px;
    *top: 42px;
    padding: 5px 5px 0;
    display: none;
    border: 1px solid #ededee;
    color: #333;
    text-align: center;
    background: #fff;
}
#topNav .app:hover .m-notice{
    display: block;
}
#topNav .app .m-notice img {
    vertical-align: middle;
    display: inline-block;
    widows: 116px;
    height: 116px;
}

#topNavLeft2 .app .txt {
    display: block;
    padding: 4px 0;
    font-size: 13.5px;
    color: #ff1e32;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
}

#topNav .app .m-notice .arrow {
    content: " ";
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    border: #bcbec2 solid 1px;
    border-left: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: -6px;
    left: 52px;
    z-index: 1000;
}

#topNavRight {
    float: right;
    position: relative;
    right: -3px;
}

#topNavRight li {
    float: left;
}

#topNavRight .toplevel {
    padding: 0 14px 0 8px;
}

#topNav .sep {
    color: #ccc;
    visibility: hidden;
}

#topNavRight .personal {
    position: relative;
    zoom: 1;
}

.mcDropMenuBox {
    position: relative;
    z-index: 202;
    border: 1px solid transparent;
    left: -3px;
    top: -1px;
}

.topNavHolder {
    position: relative;
    zoom: 1;
    padding: 0 24px 0 16px!important;
}

.topNavHolder .arr {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -2px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-color: #999 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}
/*显示个人中心二级菜单*/
.mcDropMenu {
    position: absolute;
    left: -1px;
    top: 30px;
    _width: 60px;
    border-top: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.12);
    padding: 4px 15px 12px 14px;
    display: none;
}

.mcDropMenu a {
    display: block;
    word-wrap: normal;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}

.w-icon-15 {
    width: 26px;
    height: 20px;
    background-position: -56px -251px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

.mcDropMenu .spliter {
    display: block;
    min-width: 88px;
    border-bottom: 1px solid #eaeaea;
    line-height: 0;
    font-size: 0;
}

/* 显示客户服务二级菜单  */
.w-icon-contact {
    width: 14px;
    height: 14px;
    background-position: -5px -290px;
}

/* 显示充值中心二级菜单  */


/* 显示消费者权益二级菜单  */

/* 显示更多二级菜单  */
#topNav .mcDropMenu a {
    color: #000;
}

.focuson .mcDropMenu .m-notice {
    position: absolute;
    left: -132px;
    top: 0;
    padding: 8px;
    /* display: none; */
}

.m-notice {
    background: #fff;
    position: relative;
    text-align: center;
    color: #333;
    border: 1px solid #ededee;
    padding: 10px;
}

img {
    vertical-align: middle;
    display: inline-block;
}

.m-notice-1 .arrow {
    top: 38px;
}

.m-notice .arrow {
    position: absolute;
    top: 64px;
    right: 0;
}

.m-notice .arr {
    right: -18px;
    border-color: transparent transparent transparent #e4e4e4;
}

.m-notice .arr, .m-notice .arr1 {
    position: absolute;
    right: -24px;
    border-width: 9px;
    border-style: dashed dashed dashed solid;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0!important;
}

/* .m-notice {
    background: #fff;
    position: relative;
    text-align: center;
    color: #333;
    border: 1px solid #ededee;
    padding: 10px;
} */

/* 头部 */
#docHead {
    background: #fff;
    z-index: 103;
}

#docHeadWrap {
    zoom: 1;
    width: 1090px;
    margin: 0 auto;
}

 #docHeadWrap {
    position: relative;
    height: 100px;
}

#docHead .logo_kaola_new {
    position: absolute;
    left: 0;
    top: 20px;
    width: 330px;
    height: 65px;
    line-height: 65px;
    outline: none;
    cursor: pointer;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: auto 65px;
    background-image: url(../img/88330630-0c6e-4653-9f0a-92e9ae5a2f42_420_130.png)
}

#docHead .logo {
    float: left;
    width: 180px;
}

.topTabBoxFixed .m-searchiptbox {
    top: 7px;
}

.m-searchiptbox {
    position: absolute;
    left: 343px;
    top: 33px;
    z-index: 73;
}

#topsearch {
    width: 510px;
    height: 40px;
    padding-left: 1px;
    background-color: #ff2337;
    border-radius: 40px;
}

#topsearch .wrap {
    float: left;
    margin: 2px 1px;
    padding: 6px 39px 6px 30px;
    background-color: #fff;
    border-radius: 24px 0 0 24px;
}

#topSearchInput {
    width: 410px;
    *width: 418px;
    height: 24px;
    *height: 23px;
    line-height: 24px;
    border: 0;
    font-size: 13px;
}

#topsearch .topsearchboxBackGround {
    width: 60px;
    height: 40px;
    background: #ff2337;
    background-image: linear-gradient(270deg,#ff2e64,#ff0003);
    border-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

#topSearchBtn {
    display: inline-block;
    height: 40px;
    width: 50px;
    font-size: 19px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    background: url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=20x0&quality=85&v=1) no-repeat 50%;
    background-image: -webkit-image-set(url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=20x0&quality=85&v=1) 1x,url(https://haitao.nos.netease.com/6e4da089-9347-4dc2-be19-4962832a4a5c.png?imageView&thumbnail=40x0&quality=85&v=1) 2x);
}

#topsearch .w-icon-26 {
    position: absolute;
    left: 10px;
    top: 13px;
}

.w-icon-26 {
    width: 14px;
    height: 14px;
    background-position: -466px -667px;
}

.w-icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 36px;
    height: 36px;
}

.w-icon {
    background: url(../img/icon1-832edc2b58.png) no-repeat;
    _background-image: url(../img/icon1-832edc2b58.png);
}

.w-icon-26 {
    width: 14px;
    height: 14px;
    background-position: -466px -667px;
}

.m-shopcartnew {
    display: block;
    position: absolute;
    right: 76px;
    top: 33px;
    width: 106px;
    height: 36px;
    background-color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    border: 2px solid #ff1e32;
}

.m-shopcartnew .shop-cart-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: -5px;
    background: url(../img/14f1eb69-f7c0-4d4f-95d8-4aee8e2e1f1b.png) no-repeat ;
    background-size: cover;
}

.m-shopcartnew .wrap {
    display: inline-block;
    padding-left: 6px;
    background: none;
    vertical-align: middle;
}

.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.m-rightbar .num, .m-shopcartnew .num {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    background: #ff1e32;
    white-space: nowrap;
    font-family: Helvetica,arial;
}