#topTabBox {
    border-bottom: 1px solid #ccc;
    background: #fff;
    z-index: 102;
}

#topTab {
    position: relative;
    height: 40px;
}

#topTab {
    zoom: 1;
    width: 1090px;
    margin: 0 auto;
    line-height: 40px;
    z-index: 102;
}

.navitm-cats {
    float: left;
    height: 40px;
    width: 164px;
    background: red;
    background: -webkit-linear-gradient(90deg,red,#ff3264);
    background: linear-gradient(90deg,red,#ff3264);
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    overflow: visible;
}

.navitm-cats .toplevel {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 164px;
    text-align: left;
    border-bottom: 1px solid #ff5160;
}

.navitm-cats .lineicon {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin: 0 24px 0 15px;
    width: 15px;
    height: 12px;
    overflow: hidden;
}

.navitm-cats .lineicon i {
    width: 15px;
    height: 0;
    border-top: 2px solid #ddd;
    display: block;
    margin-bottom: 3px;
}

/* 侧栏部分 */
/* 线性渐变的颜色 */
.navitm-cats .catitmlst {
    background: linear-gradient(to right,#f00,#ff3264);
}

.navitm-cats .catitmlst li {
    height: 41.81818181818182px;
    line-height: 41.81818181818182px;
}

.navitm-cats .catitmlst li {
    /* background: red; */
    padding-left: 10px;
    width: 151px;
    cursor: pointer;
    text-align: left;
    padding-right: 3px;
}

.navitm-cats .catitmlst .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 0 20px 0 4px;
}

.navitm-cats .catitmlst li .iconhv, .navitm-cats .catitmlst li.multi-icon-catli.z-hover .icon {
    display: none;
}

.navitm-cats .catitmlst .t {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}

.navitm-cats .catitmlst .arr {
    display: inline-block;
    vertical-align: middle;
    color: #ff96ad;
    font-size: 19px;
    width: 16px;
}

.naviconfont {
    font-family: naviconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.navitm-cats .catitmlst .vcenter {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.navitm-cats .catitmlst .seg {
    display: block;
    *display: none;
    position: relative;
    bottom: 2px;
    left: -7px;
    width: 154px;
    height: 1px;
    background: #ff5160;
    margin-top: -1px;
}

#funcTab {
    z-index: 72;
    float: left;
    padding-left: 25px;
}

#funcTab, #topTab {
    position: relative;
    height: 40px;
}

#funcTab li {
    float: left;
    height: 40px;
    overflow: hidden;
    padding: 0 20px;
}

#funcTab .active .toplevel:active, #funcTab .active .toplevel:hover, #funcTab .active .toplevel:link, #funcTab .active .toplevel:visited {
    background: #fff;
    color: #ff1e32;
}

#funcTab li a {
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

#funcTab a, #funcTab a:link, #funcTab a:visited {
    color: #333;
    text-decoration: none;
}

.pc-index-box {
    position: relative;
    z-index: 10;
    background: #f6f6f6;
    padding-bottom: 80px;
    min-height: 800px;
    width: auto;
    margin: initial;
}

.pc-index-box .m-floor {
    margin-top: 0px; background-color: rgb(246, 246, 246);
}

.wrap {
    white-space: normal;
    word-wrap: break-word;
}

.topBgWrapPos {
    position: relative;
    z-index: 10;
    background: #f6f6f6;
}

.topBgWrap {
    position: relative;
    zoom: 1;
    background: #f3f3f3;
    min-height: 505px;
}

.imgBox {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sliderBox2, .sliderBox2 #show_pic, .sliderBox2 #show_pic .showImg {
    height: 505px;
}

.sliderBox {
    position: relative;
    height: 400px;
    font-size: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#show_pic {
    position: absolute;
    top: 0;
    left: 50%;
    /* height: 400px; */
    margin-left: -960px;
}

#show_pic .showImg {
    width: 1920px;
    
}

#show_pic .blur-img-wrap {
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

#show_pic .blur-img-wrap img {
    margin-top: -460px;
    filter: blur(8px);
}

.sliderBox2 .img_pagebox {
    width: 920px;
    margin-left: -345px;
    left: 50%;
    bottom: 65px;
}

.sliderBox2 .pageBox {
    text-align: left;
}

.sliderBox .pageBox {
    vertical-align: middle;
    text-align: center;
}

.w-slbtn .partr {
    background-position: right -28px;
    padding-right: 14px;
}

.w-slbtn, .w-slbtn .partr {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
}

.sliderBox #icon_num .first {
    margin-left: 0;
}

.sliderBox #icon_num .last {
    margin-right: 0;
}

.sliderBox2 #icon_num a {
    float: left;
    position: relative;
    width: 9px;
    height: 9px;
    margin-right: 10px;
    background: none;
}

.sliderBox #icon_num a {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    vertical-align: middle;
    *position: relative;
    *top: 9px;
    *left: 5px;
    line-height: 0;
    font-size: 0;
    text-decoration: none;
    cursor: pointer;
    margin: 0 5px;
    background-position: -8px -2px;
}

.sliderBox #icon_num .active {
    background-position: -28px -2px;
}

.sliderBox2 #icon_num .dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
}

.sliderBox2 #icon_num .num {
    display: none;
    position: absolute;
    top: 4.4px;
    left: 0;
    width: 20px;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}

.sliderBox2 .img_pagebox {
    width: 920px;
    margin-left: -345px;
    left: 50%;
    bottom: 65px;
}

.sliderBox .img_pagebox {
    position: absolute;
    left: 0;
    bottom: 22px;
    width: 100%;
}

.sliderBox2 .pageBox {
    text-align: left;
}

.sliderBox .pageBox {
    vertical-align: middle;
    text-align: center;
}

.sliderBox2 .w-slbtn, .sliderBox2 .w-slbtn .partr {
    background: none;
}

.w-slbtn, .w-slbtn .partr {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
}


.w-slbtn {
    background-position: left 0;
    padding-left: 14px;
}

.w-slbtn .partr {
    background-position: right -28px;
    padding-right: 14px;
}

.w-slbtn .partr {
    background-position: right -28px;
    padding-right: 14px;
}

.sliderBox2 #icon_num .dot {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
}

.sliderBox2 #icon_num .num {
    display: none;
    position: absolute;
    top: 4.4px;
    left: 0;
    width: 20px;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}



















.m-sellpoint {
    position: relative;
    z-index: 12;
    margin-top: -45px;
    margin-bottom: 20px;
    height: 45px;
    background-color: rgba(0,0,0,.3);
}

.m-sellpoint .m-contentwrap {
    margin: 0 auto;
    width: 1090px;
}

.m-sellpoint .m-contentwrap .sellpoint {
    float: left;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #fff;
}

.m-sellpoint .m-contentwrap .download {
    float: right;
    color: #fff;
    line-height: 44px;
}
