.mainWrap {
    width: 1090px;
    font-size: 14px;
}

.mainWrap {
    z-index: 9;
    border-top: 1px solid #e8e8e8;
}

.mainWrap {
    width: 1090px;
    margin: auto;
    position: relative;
    padding: 10px 0 0;
}

.crumbsbox {
    height: 69px;
}

.crumbs {
    height: 22px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 17px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    color: #999;
}

.crumbs .txt {
    line-height: 24px;
}

.f-fl {
    float: left;
}

.crumbs a, .crumbs span {
    vertical-align: middle;
}

.n-crumbbtn {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    border: 1px solid #ccc;
}

.n-crumbbtn .btnbox {
    position: relative;
    z-index: 0;
    height: 18px;
    line-height: 18px;
    background: #fff;
}

.crumbs a, .crumbs strong {
    margin: 0 3px;
    font-weight: normal;
}

.n-crumbbtn .btn {
    display: inline-block;
    padding: 0 5px;
    margin-right: 15px;
    height: 20px;
    line-height: 20px;
    max-width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.n-crumbbtn .v-icon {
    position: absolute;
    right: 6px;
    top: 4px;
    width: 6px;
    height: 6px;
    border: 2px solid #ccc;
    border-width: 0 0 2px 2px;
    -webkit-transform-origin: 30% 70%;
    -moz-transform-origin: 30% 70%;
    -o-transform-origin: 30% 70%;
    transform-origin: 30% 70%;
    -webkit-transition: -webkit-transform 0.1s ease-in;
    -moz-transition: -moz-transform 0.1s ease-in;
    -ms-transition: -ms-transform 0.1s ease-in;
    -o-transition: -o-transform 0.1s ease-in;
    transition: -webkit-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.crumbs span.crumbs-title {
    display: inline-block;
    max-width: 300px;
    *width: 300px;
    color: #999;
    vertical-align: middle;
}

.crumbs a:link, .crumbs a:visited, .crumbs a:hover {
    color: #333;
}

.crumbs a, .crumbs span {
    vertical-align: middle;
}

.crumbs a, .crumbs strong {
    margin: 0 3px;
    font-weight: normal;
}

ins, a {
    text-decoration: none;
}

embed, object, a, button, input, select, textarea {
    outline: none;
}

.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

.PInfoWrap {
    margin: 20px 0 0;
    position: relative;
    z-index: 1;
}

.PImgBox {
    float: left;
    width: 402px;
    height: 488px;
    position: relative;
    display: inline;
    z-index: 1000;
}

.scrollleft {
    left: 0;
    top: 421px;
}

.scrollDis {
    color: #ddd;
}

.scrollBtn {
    display: inline-block;
    z-index: 1000;
    width: 33px;
    height: 62px;
    position: absolute;
    padding: 1px 0;
    margin: 0;
    border: 1px solid #eee;
    text-decoration: none;
    font-size: 38px;
    color: #666;
    line-height: 62px;
    text-align: center;
    background-color: #fff;
}

.scrollRight {
    top: 421px;
    right: 0;
}

.litimg_box {
    position: absolute;
    height: 70px;
    overflow: hidden;
    top: 419px;
    left: 35px;
    width: 330px;
}

#litimgUl {
    position: absolute;
    top: 0;
    padding-left: 10px;
    z-index: 2;
}

.litimg_box li {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.litimg_box li a {
    display: inline-block;
    overflow: hidden;
    zoom: 1;
    height: 64px;
    width: 64px;
    border: 1px solid #eee;
    margin: 2px;
}

.litimg_box li a img {
    width: 64px;
}

img, input, select {
    vertical-align: middle;
    display: inline-block;
}

#showImgBox {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #eee;
    width: 400px;
    height: 400px;
    overflow: hidden;
    cursor: crosshair;
}

#showImgBox img {
    width: 400px;
    height: 400px;
}

#showImgBox b {
    background-color: #000;
    opacity: 0.3;
    display: inline-block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    filter: alpha(opacity = 30);
    *zoom: 1;
}

.showLocalImg {
    display: inline-block;
    position: absolute;
    left: 372px;
    top: 372px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #aaa;
    font-size: 21px;
    opacity: 0.6;
}

#showDetails {
    width: 400px;
    height: 400px;
    position: absolute;
    zoom: 1;
    z-index: 1001;
    top: 0px;
    left: 430px;
    overflow: hidden;
    border: #ededed 1px solid;
    display: none;
    background: #fff;
}

#showImgBig {
    position: absolute;
    z-index: 1000;
    width: 800px;
    height: 800px;
}

#litimgUl {
    position: absolute;
    top: -15px;
    padding-left: 10px;
    z-index: 2;
}

.sign {
    font-family: "iconfont";
    margin-right: 5px;
}

.showLocalImg:hover {
    color: #666;
}

.showLocalImg {
    display: inline-block;
    position: absolute;
    left: 372px;
    top: 372px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #aaa;
    font-size: 21px;
    opacity: 0.6;
}

/* 右侧 */
.PInfo {
    position: relative;
    float: left;
    width: 658px;
    margin-left: 30px;
    font-size: 12px;
    _overflow: hidden;
}

.PInfo .PTags {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    margin-left: -6px;
    font-size: 0;
}

.PInfo dt {
    color: #333;
    word-wrap: break-word;
}

.PInfo .PTags .selftag {
    background-position: -94px 0;
    color: #cf2c48;
}

.PInfo .PTags .selftag {
    display: inline-block;
    width: 54px;
    height: 22px;
    margin-left: 6px;
    padding-right: 6px;
    line-height: 22px;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    background: url(../img/5f85c550-4014-4569-ba81-0ed04008b509_220_22.png) 0 0 no-repeat;
    background-position: -95px 0;
}

.PInfo .PTags .crosstag {
    background-position: -160px 0;
    color: #8b71c5;
}

.PInfo .PTags .crosstag {
    display: inline-block;
    width: 54px;
    height: 22px;
    margin-left: 6px;
    padding-right: 6px;
    line-height: 22px;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    background: url(../img/5f85c550-4014-4569-ba81-0ed04008b509_220_22.png) 0 0 no-repeat;
    background-position: -160px 0;
}

.PInfo dt {
    color: #333;
    word-wrap: break-word;
}

.orig-country {
    position: relative;
    font-size: 0;
}

.orig-country img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.orig-country span, .orig-country a, .orig-country a:hover {
    font-size: 13px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
    vertical-align: middle;
}

.orig-country .split {
    font-size: 12px;
}

.orig-country span, .orig-country a, .orig-country a:hover {
    font-size: 13px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
    vertical-align: middle;
}

.orig-country span, .orig-country a, .orig-country a:hover {
    font-size: 13px;
    margin-left: 6px;
    color: #999;
    font-weight: 400;
    vertical-align: middle;
}

.PInfo .product-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.PInfo dt {
    color: #333;
    word-wrap: break-word;
}


.PInfo .product-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}

.PInfo dt {
    color: #333;
    word-wrap: break-word;
}

.PInfo .subTit {
    margin-bottom: 11px;
    color: #333;
    line-height: 20px;
    font-size: 13px;
}

.PInfo dt {
    color: #333;
    word-wrap: break-word;
}

.m-xianshi {
    position: relative;
    z-index: 101;
    margin-bottom: -1px;
}

.m-xianshi-cnt.xianshi-red {
    background: url(../img/productinfoheadbar.7ad1875.jpg) 0 -40px no-repeat;
}

.m-xianshi-cnt {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10px;
    background: url(../img/productinfoheadbar.7ad1875.jpg) 0 -40px no-repeat;
    height: 24px;
    padding: 8px 20px;
    overflow: hidden;
}

.m-xianshi-cnt .m-xianshi-banner {
    height: 24px;
    color: #e31436;
    font-weight: bold;
}

.f-fl {
    float: left;
}

.f-cb, .clearfix {
    zoom: 1;
}

.m-xianshi-cnt .m-xianshi-banner .left-circle {
    width: 11px;
    background-image: url(../img/productIcons.1930615.png);
    _background-image: url(../img/productIcons.1930615.png);
    background-position: left -27px;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

.m-xianshi-cnt .m-xianshi-banner span {
    display: inline-block;
    background-color: #ffed64;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
}

.m-xianshi-cnt .m-xianshi-banner .right-circle {
    width: 11px;
    background-image: url(../img/productIcons.1930615.png);
    _background-image: url(../img/productIcons.1930615.png);
    background-position: -29px top;
    background-repeat: no-repeat;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}

.m-xianshi-cnt.xianshi-counting .u-xianshi-counter {
    font-size: 12px;
    font-weight: normal;
    margin-top: -2px;
}

.m-xianshi-cnt .u-xianshi-counter {
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.m-xianshi-cnt .u-xianshi-counter .num {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.m-xianshi-cnt .u-xianshi-counter .storetxt {
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    border-radius: 8px;
    color: #fff;
    background: #d31f48;
    letter-spacing: 0;
}

.m-xianshi-cnt .u-xianshi-counter {
    margin-left: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
}

.m-xianshi-cnt.xianshi-counting .u-xianshi-counter {
    font-size: 12px;
    font-weight: normal;
    margin-top: -2px;
}

.fl{
    float: left;
}

.PInfo-standout .m-price-wrap {
    background-color: #f9f9f9;
    z-index: 22;
    margin-bottom: 12px;
}

.m-price-wrap {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 4px;
}

.m-price {
    overflow: hidden;
    position: relative;
    padding-top: 5px;
    border-top: 1px dotted #ddd;
    z-index: 100;
    *zoom: 1;
    font-size: 0;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-price .m-price-title {
    float: left;
    line-height: 26px;
    margin: 8px 0;
    vertical-align: 4px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.m-price .m-price-cnt {
    margin-left: 71px;
}

.currentPrice {
    font-size: 26px;
    color: #e31436;
    font-weight: bold;
    vertical-align: baseline;
    line-height: 1;
    margin: 8px 0;
}

.PInfo_r {
    display: inline-block;
    zoom: 1;
}

.currentPrice {
    font-size: 26px;
    color: #e31436;
    font-weight: bold;
    vertical-align: baseline;
    line-height: 1;
    margin: 8px 0;
}

.m-price .addprice {
    vertical-align: 4px;
    font-size: 12px;
    color: #999;
    margin-left: 14px;
    margin-bottom: 8px;
}

.m-vipmember {
    position: relative;
    margin-top: -2px;
    margin-bottom: 8px;
}

.m-vipmember .msg {
    line-height: 20px;
    margin-left: 85px;
    font-size: 0;
}

.m-vipmember .msg .vicon {
    display: inline-block;
    vertical-align: middle;
    height: 17px;
    margin-right: 4px;
}

.m-vipmember .msg .vtxt {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #1e1e1e;
}

.m-vipmember .msg {
    line-height: 20px;
    margin-left: 85px;
    font-size: 0;
}

.m-vipmember .msg .vtxt {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #1e1e1e;
}

.m-vipmember .msg .tipicon {
    display: inline-block;
    vertical-align: middle;
    color: #979797;
    width: 13px;
    margin-left: 7px;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

.m-multipack {
    position: relative;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-multipack .m-line-title {
    line-height: 22px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.m-multipack .packlst {
    overflow: hidden;
    width: 495px;
    height: 27px;
    padding-bottom: 5px;
    padding-right: 65px;
}

.m-multipack .packli {
    overflow: hidden;
    float: left;
    height: 20px;
    width: 111px;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.m-multipack .packli .link {
    display: block;
    color: #333;
}

.m-multipack .packlst .packli.z-cur {
    cursor: default;
    border-color: #e31436;
    color: #e02036;
    font-weight: bold;
}

.m-multipack .packli {
    overflow: hidden;
    float: left;
    height: 20px;
    width: 111px;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.m-multipack .packli .txt {
    display: block;
}

.m-multipack .packlst .packli.z-cur {
    cursor: default;
    border-color: #e31436;
    color: #e02036;
    font-weight: bold;
}

address, caption, cite, code, dfn, em, th, var, i, b {
    font-style: normal;
    font-weight: 500;
}

.m-vipmember .msg .becomevip {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #4a90e2;
    font-size: 12px;
    text-decoration: normal;
    cursor: pointer;
}

.m-vipmember .msg .vtxt.z-grey {
    color: #737373;
}

.m-vipmember .msg .vtxt {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #1e1e1e;
}

.m-vipmember .msg {
    line-height: 20px;
    margin-left: 85px;
    font-size: 0;
}

.m-multipack {
    position: relative;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-multipack .m-line-title {
    line-height: 22px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.m-multipack .packlst {
    overflow: hidden;
    width: 495px;
    height: 27px;
    padding-bottom: 5px;
    padding-right: 65px;
}

.m-multipack .packli {
    overflow: hidden;
    float: left;
    height: 20px;
    width: 111px;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.m-multipack .packli .link {
    display: block;
    color: #333;
}

.m-multipack .packlst .packli.z-cur {
    cursor: default;
    border-color: #e31436;
    color: #e02036;
    font-weight: bold;
}

.m-multipack .packli {
    overflow: hidden;
    float: left;
    height: 20px;
    width: 111px;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    font-size: 12px;
    color: #333;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

.m-multipack .packli .txt {
    display: block;
}

.m-taxrateline {
    position: relative;
    z-index: 11;
    padding-top: 8px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.m-taxrateline .subsidy {
    margin-top: -1px;
    margin-bottom: 10px;
}

.m-zd-prt {
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-zd-prt .m-dp-prt-title {
    display: inline-block;
    min-width: 48px;
    padding: 0 4px;
    color: #fff;
    background-color: #e31436;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
}

.m-zd-prt .m-zd-prt-desc, .m-zd-prt .m-zd-prt-desc a:link, .m-zd-prt .m-zd-prt-desc a:visited, .m-price .m-price-prt-desc, .m-price .m-price-prt-desc a:link, .m-price .m-price-prt-desc a:visited {
    color: #e31436;
}


.m-zd-prt .m-zd-prt-desc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    max-width: 490px;
    font-size: 12px;
}

.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}


.PInfo .postage {
    position: relative;
    z-index: 10;
}

.postage .m-line-title {
    float: left;
    line-height: 24px;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.postage .msg {
    margin-left: 85px;
}

.PInfo .postage {
    margin-top: 7px;
    _padding-bottom: 1px;
}

.PInfo .postage {
    position: relative;
    z-index: 10;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.postage .msg {
    margin-left: 85px;
}

.PInfo {
    position: relative;
    float: left;
    width: 658px;
    margin-left: 30px;
    font-size: 12px;
    _overflow: hidden;
}

.postage .msg .from, .postage .msg .from2 {
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.m-addrw {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.mr20 {
    margin-right: 20px;
}

.m-addr {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.m-addr .iptw {
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    width: auto;
    padding: 0 5px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
}

.m-addr .iptmsg, .m-addr .iptdown {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
}

.m-addr .iptmsg {
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
}

.m-addr .iptdown {
    font-family: "iconfont";
    font-size: 11px;
    color: #666;
}

.m-addr .iptmsg, .m-addr .iptdown {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
}

.m-addr .box {
    position: absolute;
    left: 0;
    top: 19px;
    padding: 10px 0;
    min-width: 350px;
    color: #000;
    border: #ddd solid 1px;
    background-color: #fff;
    z-index: 8888;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    font-size: 12px;
}

.m-addr .boxclose {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    color: rgba(153,153,153,0.7);
    *color: #999;
    cursor: pointer;
}

.m-addr .box .subtit {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.m-addr .box .tt {
    height: 30px;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.m-addr .box .ttw {
    border-bottom: 1px solid #ddd;
    height: 29px;
    width: 420px;
}

.m-addr .box .tli {
    position: relative;
    float: left;
    width: auto;
    min-width: 58px;
    line-height: 32px;
    height: 28px;
    padding: 0 5px;
    margin-right: -1px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
}

.PInfo .postage {
    margin-top: 7px;
    _padding-bottom: 1px;
}

.PInfo .postage {
    position: relative;
    z-index: 10;
}

.postage .m-line-title {
    float: left;
    line-height: 24px;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.postage .msg {
    margin-left: 85px;
}

.PInfo {
    position: relative;
    float: left;
    width: 658px;
    margin-left: 30px;
    font-size: 12px;
    _overflow: hidden;
}

.postage .msg .from2 {
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.m-addrw {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}

.m-addr {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.m-addr .iptw {
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    width: auto;
    padding: 0 5px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
}

.m-addr .iptmsg, .m-addr .iptdown {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
}

.m-addr .iptmsg {
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
}

.m-addr .iptmsg, .m-addr .iptdown {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
}

.m-addr .box {
    position: absolute;
    left: 0;
    top: 19px;
    padding: 10px 0;
    min-width: 350px;
    color: #000;
    border: #ddd solid 1px;
    background-color: #fff;
    z-index: 8888;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    font-size: 12px;
}

.PInfo .postage {
    position: relative;
    z-index: 10;
    float: left;
}

.PInfo .m-service {
    margin-top: 6px;
}

.PInfo .m-service span, .PInfo .m-service a {
    vertical-align: middle;
    display: inline-block;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.PInfo .m-service span, .PInfo .m-service a {
    vertical-align: middle;
    display: inline-block;
}

.m-postage-list {
    margin: 10px 0 0 -27px;
}

.m-postage-list .postage-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.m-postage-list .postage-item .postage-img {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    margin: 0 auto;
}

.m-postage-list .postage-item .postage-title {
    display: inline-block;
    white-space: nowrap;
    padding-top: 7px;
}

.m-postage-list .postage-item .postage-title .m-tit {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-postage-list .postage-item .postage-line.active {
    background: #7f7f7f;
}

.m-postage-list .postage-item .postage-line {
    position: absolute;
    display: block;
    background: #dcdcdc;
    right: -30px;
    top: 13px;
    width: 60px;
    height: 1px;
}

.postage .feeInfo {
    display: inline;
    line-height: 24px;
    height: 24px;
    vertical-align: middle;
}

.PInfo {
    position: relative;
    float: left;
    width: 658px;
    margin-left: 30px;
    font-size: 12px;
    _overflow: hidden;
}

.u-postage:hover .fee {
    border-color: #d5d5d5;
    background: #fff;
    border-bottom-color: #fff;
}

.u-postage .fee {
    position: relative;
    z-index: 3;
    padding: 1px 15px;
    display: block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #fff;
    cursor: default;
}

.u-postage:hover .arron {
    display: inline;
}

.u-postage .arron, .u-postage .arroff {
    position: relative;
    top: -1px;
    left: 1px;
    font-size: 11px;
    color: #666;
}

.iconfont, .u-icnft {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.u-postage:hover .arroff {
    display: none;
}


.postage .feeInfo {
    display: inline;
    line-height: 24px;
    height: 24px;
    vertical-align: middle;
}

.u-postage {
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: -5px 0 -5px -15px;
}

.u-postage .fee {
    position: relative;
    z-index: 3;
    padding: 1px 15px;
    display: block;
    height: 28px;
    line-height: 28px;
    border: 1px solid #fff;
    cursor: default;
}

.u-postage .arron, .u-postage .arroff {
    position: relative;
    top: -1px;
    left: 1px;
    font-size: 11px;
    color: #666;
}

.iconfont, .u-icnft {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.u-postage .arron, .u-postage .arroff {
    position: relative;
    top: -1px;
    left: 1px;
    font-size: 11px;
    color: #666;
}

.u-postage .arron {
    display: none;
}

.u-postage .arroff {
    top: 0;
}

.u-postage .arron, .u-postage .arroff {
    position: relative;
    top: -1px;
    left: 1px;
    font-size: 11px;
    color: #666;
}

.PInfo .m-service .tomorrowarr {
    margin-top: 8px;
}

.PInfo .m-service span, .PInfo .m-service a {
    vertical-align: middle;
    display: inline-block;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.PInfo .f-bold {
    font-weight: bold;
}

.m-buyBox {
    margin-top: 6px;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-am-30 {
    height: 24px;
    line-height: 24px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.PInfo .buyBox {
    margin-top: 9px;
}

.buybox {
    position: relative;
}

.ctrnum-wrap {
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.PInfo .domeTips.z-isRed {
    color: #e31436;
}

body .hide {
    display: none;
}

.PInfo .domeTips {
    color: #333;
    font-weight: 300;
    margin-left: 5px;
    vertical-align: middle;
}

.PInfo .domeTips.z-isRed {
    color: #e31436;
}

/* 数量 */
.m-buyBox {
    margin-top: 6px;
}

.PInfo-standout .m-line-title {
    margin-left: 10px;
    font-size: 12px;
}

.m-line-am-30 {
    height: 24px;
    line-height: 24px;
}

.m-line-title {
    display: inline-block;
    width: 75px;
    color: #666;
    vertical-align: middle;
}

.m-buyBox {
    margin-left: 40px;
}

.buyBtns {
    display: block;
    margin-top: 20px;
    *padding-bottom: 2px;
    position: relative;
}

#buyBtn {
    position: relative;
    width: 156px;
    height: 46px;
    border: 2px solid #d41c44;
    background-color: #ffeced;
    color: #d31b44;
    line-height: 46px;
}

#addCart, .newerBtn {
    width: 180px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #e31436;
}

.buyBtns a, .btn-nogoods, .btn-arrivalNotice, .newerBtn {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

.sign {
    font-family: "iconfont";
    margin-right: 5px;
}

.sign {
    display: inline-block;
}